%body
  %header.library-header.img-responsive
    %h1.sr-only University Library, University of Illinois at Urbana-Champaign
    .container-fluid
      = link_to 'http://www.library.illinois.edu', target: '_blank' do
        = image_tag("library_wordmark_horizontal.png", class: "img-responsive banner-image-library")
